.square {
    background: darkgray;
    width: 10vh;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid transparent;
}

.square.isHoverable:hover {
    z-index: 3;
    cursor: pointer;
    border: 5px solid black;
}

.dark {
    background: darkgreen;
}

.selected {
    color: purple;
    border: 5px solid purple;
}

.square.isHoverable.selected:hover {
    border: 5px solid purple;
}
